html, body{
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

@keyframes rgbThrobber {
  0% {
    color: red;
  }
  16.66% {
    color: yellow;
  }
  33.33% {
    color: lime;
  }
  50% {
    color: cyan;
  }
  66.66% {
    color: blue;
  }
  83.33% {
    color: magenta;
  }
  100% {
    color: red;
  }
}

.currentlyGenerating{
  animation-name: rgbThrobber;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-timing-function: linear;
  background-color: #bababa;
}

*{
  font-family: arial;
}

canvas{
  width: 100%;
  /*outline: 1px solid black;*/
  scroll-snap-align: start;
  image-rendering: pixelated;
  padding: auto;
}

.mainGenBtn{
  width: 100%;
  padding: 20px;
}

.INPUTRANGE{
  width: 100%; 
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
}
.INPUTRANGEDISPLAY{
  width: 100%;
  position: absolute;
  color: white;
  pointer-events: none;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
input[type=range]{
  width: 100%;
}

.buffer{
  width: 100%;
}

.map{
  /*width: 33.333%;*/
  min-width: 50vw;
  /*outline: 1px solid lime;*/
  scroll-snap-align: start;
}

.canvasHolder{
  display: flex;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;	
}